/* Bar component styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .article { 
    border: none; 
    outline: none;
    text-align: right;
    font-size: 20px;
  }
  
  .amount { 
    font-size: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 18px;
    color: #333;
  }
  
  /* Line component styles */
  .smallInput {
    width: 30px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .longLabel {
    text-align: right;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  